html, body {
  margin : 0;
  padding : 0;
}

body {
  overflow : hidden;
}

.app, #scxml-viz, #scxml-content {
  width : 100%;
  height : 100%;
}

#embed_outer{
  height:100%;
  display:flex;
  /*background-color:red;*/
  flex-direction: column;
}

#embed_inner{
  height:100%;
  display:flex;
  /*background-color:red;*/
  flex-direction: column;
}

#simulation-panel{
  /*background-color:orange;*/
  flex-grow:1;
  display:flex;
  flex-direction: column;
}

#console{
  /*background-color:lightblue;*/
  display:flex;
  overflow:hidden;
  max-height:2em;
  transition: max-height 0.5s ease-out;
  margin : 0;
}

.viz-mode #console{
  max-height:0em;
}

#event-input{
  /*background-color:aqua;*/
  flex-grow:1;
}

#event-button{
  /*background-color:pink;*/
}

.runButton {
  position:absolute; 
  bottom:2em; 
  right:1em; 
  opacity: 1;
  display: none;
}

.runButton button {
  border-radius : 1.25em; 
  font-size : 2em; 
  outline: none; 
  padding : .5em;
}

@media print {
  .runButton {
    display : none;
  }
}
